.o_kanban_view {
    .o_kanban_record {
        .oe_kanban_text_blue {
            color: #0040ff;
            font-weight: bold;
        }
    }
    &.o_kanban_grouped {
        &.o_kanban_small_column.o_kanban_small_column_tms {
            height: 80vh;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            align-content: flex-start;
            .o_kanban_group:not(.o_column_folded) {
                width: 15rem !important; // ~180px
                &:first-child {
                    height: 100vh;
                    overflow-y: scroll;
                    width: 30rem !important;
                    .oe_kanban_card {
                        width: 11.25rem !important;
                    }
                }
            }
        }
    }
}
.oe_kanban_card {
    .card-text {
        .o_field_float {
            margin-bottom: 0 !important;
        }
    }
}
