.o_kanban_view {
    .o_kanban_record {
        .oe_kanban_text_blue {
            color: #0040ff;
            font-weight: bold;
        }
    }
}
.oe_kanban_card {
    .card-text {
        .o_field_float {
            margin-bottom: 0 !important;
        }
    }
}
